body {background-color: #E39F5B;}
#para {
    text-align: center; 
    color: black
    font-size: 45px;}
#maintitle {
  	text-align: center;
  	color: #C374CA;
    font-size: 90px;
	  font-weight: bold;}
